<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.diary.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.diary.ContactActivity"
            android:label="@string/contact" >
        </activity>
        <activity
            android:name="com.example.diary.EditContactActivity"
            android:label="@string/edit_contact" >
        </activity>
        <activity
            android:name="com.example.diary.CourseActivity"
            android:label="@string/course" >
        </activity>
        <activity
            android:name="com.example.diary.CourseListActivity"
            android:label="@string/course_list" >
        </activity>
        <activity
            android:name="com.example.diary.EditCourseActivity"
            android:label="@string/edit_course" >
        </activity>
        <activity
            android:name="com.example.diary.EventActivity"
            android:label="@string/event" >
        </activity>
        <activity
            android:name="com.example.diary.EventListActivity"
            android:label="@string/events" >
        </activity>
        <activity
            android:name="com.example.diary.EditEventActivity"
            android:label="@string/edit_event" >
        </activity>
        <activity
            android:name="com.example.diary.NewsListActivity"
            android:label="@string/news" >
        </activity>
        <activity
            android:name="com.example.diary.EditNewsActivity"
            android:label="@string/edit_news" >
        </activity>
    </application>

</manifest>
